.btn {
    display: inline-block;
    background: tomato;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: rgb(252, 61, 27);
}